@charset "UTF-8";
#main {
	width: 20%;
	height: 280px;
	margin-left:40%;
	margin-right:40%;
	margin-top: 200px;
	display:flex;
	flex-direction: column;
	background-color: #AEDD81;
	border-radius: 20px;
}

#sub_title{
	margin-top: 10%;
	align-self: center;
	color: maroon;
}

#text_list{
	margin-left: 20%;
	font-size: small;
}

Button {
	width: 60%;
	margin-left:20%;
}

.hard_button {
	margin-bottom: 20%;
}

.soft_button {
	margin-top: 15%;
}